RewriteEngine On
RewriteBase /nps/

# No tocar archivos reales ni directorios
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribir TODO a index.php
RewriteRule ^(.*)$ index.php [L,QSA]
