RewriteEngine On

# Si la peticion es para la API, no hacer nada aqui y dejar que el .htaccess de api/ o el de la raiz mande
RewriteRule ^api/ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
